@model ViewModels.CreateTableroViewModels;

<form asp-controller="Tablero" asp-action="CreateTablero">
    <div class="form-group">
        <input asp-for="@Model.Id_usuario_propietario" class="form-control">
        <span asp-validation-for="@Model.Id_usuario_propietario" class="text-danger"></span>

        <label asp-for="@Model.Usuario_propietario"></label>
        <input asp-for="@Model.Usuario_propietario" class="form-control" readonly/>
        <span asp-validation-for="@Model.Usuario_propietario" class="text-danger"></span>

        <label asp-for="@Model.Nombre"></label>
        <input asp-for="@Model.Nombre" class="form-control" />
        <span asp-validation-for="@Model.Nombre" class="text-danger"></span>

        <label asp-for="@Model.Descripcion"></label>
        <input asp-for="@Model.Descripcion" class="form-control" />
        <span asp-validation-for="@Model.Descripcion" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
