@model ViewModels.LoginViewModels

<div class="d-flex flex-column">
    
    @if (Model.TieneMensajeDeError)
    {
        <p style="color: red;">@Model.MensajeDeError</p>
    }

    <div class="border border-secondary-subtle" style="padding:10%;">

        <h2>Inicio de sesión</h2>

        <p style="padding-button:0.5%;">Ingrese su usario y contraseña para continuar</p>

        <form asp-controller="Login" asp-action="LoginUser">
            <div class="mb-3">
                <label class="form-label" asp-for="@Model.Usuario"></label>
                <input class="form-control" asp-for="@Model.Usuario" />
                <span asp-validation-for="@Model.Usuario" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="@Model.Password"></label>
                <input class="form-control" asp-for="@Model.Password" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>

            <button type="submit"  class="btn btn-primary w-100 py-2" style="pading: 5%;">Iniciar sesión</button>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
