@model ViewModels.UpdateTareaViewModels;


<form asp-controller="Tarea" asp-action="UpdateTarea">
    <div class="form-group">
        <input hidden asp-for="@Model.Id">

        <label asp-for="@Model.Id_tablero">Tablero:</label>
        <select asp-for="@Model.Id_tablero"  class="form-control">
        @foreach (var tab in Model.Tableros)
        {
            <option value="@tab.Id">@tab.Id | @tab.Nombre</option>
        }
        </select>

        <label asp-for="@Model.Nombre">Nombre:</label>
        <input asp-for="@Model.Nombre" class="form-control" />

        <label asp-for="@Model.EstadoTarea">Estado:</label>
        <select asp-for="@Model.EstadoTarea" asp-items="Html.GetEnumSelectList<Estado>()" class="form-control"></select>

        <label asp-for="@Model.Descripcion">Descripcion:</label>
        <input asp-for="@Model.Descripcion" class="form-control" />

        <label asp-for="@Model.Color">Color:</label>
        <input asp-for="@Model.Color" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }