@{
    ViewData["Title"] = "Tareas";
}

@model ViewModels.TareasByTableroViewModels;

<div class="contenedor">

    @if (Model.TieneMensajeExito)
    {
        <div id="mensajeTemporal" class="alert alert-success">
            @Html.Raw(Model.MensajeExito)
        </div>
    }

    @if (Model.TieneMensajeError)
    {
        <div id="mensajeTemporal" class="alert alert-danger">
            @Html.Raw(Model.MensajeError)
        </div>
    }

    @if (Model.TieneMensajeAdvertencia)
    {
        <div id="mensajeTemporal" class="alert alert-warning">
            @Html.Raw(Model.MensajeAdvertencia)
        </div>
    }

    <h2 text-aling:center>Mis tareas</h2>

    @if (Model.Tareas.Count() == 0)
    {
        <p>No hay tareas asigandas a este tablero.</p>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-dark tabla4">
                <thead>
                    <tr class="tabla4-encabezado">
                        <th scope="col" hidden>ID</th>
                        <th scope="col" hidden>ID Tablero</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Color</th>
                        <th scope="col" hidden>Id Usuario Asignado</th>
                        <th scope="col">Usuario asignado</th>
                        <th scope="col">Actualizar Estado</th>
                        <th scope="col">Asignar Usuario</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tarea in Model.Tareas)
                    {
                        <tr>
                            <td hidden>@tarea.Id</td>
                            <td hidden>@tarea.Id_tablero</td>
                            <td>@tarea.Nombre</td>
                            <td>@tarea.EstadoTarea</td>
                            <td>@tarea.Descripcion</td>
                            <td>
                                <input type="color" asp-for="@tarea.Color" name="colorInput" value="@tarea.Color" disabled>
                            </td>
                            <td hidden>
                                @tarea.Id_usuario_asignado
                            </td>
                            @if (string.IsNullOrEmpty(@tarea.Usuario_asignado))
                            {
                                <td>sin asignar</td>
                            }
                            else
                            {
                                <td>@tarea.Usuario_asignado</td>
                            }
                            <td>
                                <form asp-controller="TareasByTablero" asp-action="UpdateEstadoTareaPropia" method="post">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <input type="hidden" name="idTablero" value="@tarea.Id_tablero" />
                                            <input type="hidden" name="idTarea" value="@tarea.Id" />
                                            <select name="EstadoTarea" class="form-select form-select-sm">
                                                <option value="" disabled selected> Seleccionar </option>
                                                <option value="0">ToDo</option>
                                                <option value="1">Doing</option>
                                                <option value="2">Review</option>
                                                <option value="3">Done</option>
                                            </select>
                                        </div>
                                        <div class="mx-2">
                                            <button type="submit" class="btn btn-success">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                                    <path
                                                        d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                                                    <path
                                                        d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </td>
                            @if (string.IsNullOrEmpty(@tarea.Usuario_asignado))
                            {
                                <td>
                                    <form asp-controller="TareasByTablero" asp-action="AssignUser" method="post">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <input type="hidden" name="idTablero" value="@tarea.Id_tablero" />
                                                <input type="hidden" name="idTarea" value="@tarea.Id" />
                                                <select name="idUsuarioAsignado" class="form-select form-select-sm">
                                                    <option value="" disabled selected> Seleccionar </option>
                                                    @foreach (var user in Model.Usuarios)
                                                    {
                                                        <option value="@user.Id">@user.Nombre_de_usuario</option>
                                                    }
                                                </select>
                                            </div>

                                            <div class="mx-2">
                                                <button type="submit" class="btn btn-success">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-person-fill-up" viewBox="0 0 16 16">
                                                        <path
                                                            d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.854 1.5 1.5a.5.5 0 0 1-.708.708L13 11.707V14.5a.5.5 0 0 1-1 0v-2.793l-.646.647a.5.5 0 0 1-.708-.708l1.5-1.5a.5.5 0 0 1 .708 0M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                                        <path
                                                            d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4" />
                                                    </svg>
                                                </button>
                                            </div>

                                        </div>
                                    </form>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <a asp-controller="TareasByTablero" asp-action="RemoveUser"
                                        asp-route-idTablero="@tarea.Id_tablero" asp-route-idTarea="@tarea.Id"
                                        title="Remover usuario"
                                        onclick="return confirm('¿Estas seguro que quieres remover el usuario?')">
                                        <button type="button" class="btn btn-warning">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                class="bi bi-person-x-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708" />
                                            </svg>
                                        </button>
                                    </a>
                                </td>
                            }
                            <td>
                                <a asp-controller="TareasByTablero" asp-action="UpdateTarea"
                                    asp-route-idTablero="@tarea.Id_tablero" asp-route-idTarea="@tarea.Id"
                                    title="modificar tarea">
                                    <button type="button" class="btn btn-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path
                                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd"
                                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                        </svg>
                                    </button>
                                </a>
                            </td>
                            <td>
                                <a asp-controller="TareasByTablero" asp-action="DeleteTarea"
                                    asp-route-idTablero="@tarea.Id_tablero" asp-route-idTarea="@tarea.Id"
                                    onclick="return confirm('¿Estas seguro que quieres eliminar la tarea?')"
                                    title="eliminar tarea">
                                    <button type="button" class="btn btn-outline-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                            class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path
                                                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                        </svg>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var mensajeTemporal = document.getElementById('mensajeTemporal');
        if (mensajeTemporal) {
            setTimeout(function () {
                mensajeTemporal.classList.add('mensaje-oculto');
            }, 5000);
        }
    });
</script>