@model ViewModels.CreateUserViewModels;

<h2>Crear usuario</h2>

<p>Ingrese los siguientes datos:</p>

@if (Model.TieneMensajeDeError)
{
    <p style="color: red;">@Model.MensajeDeError</p>
}

<form asp-controller="Usuario" asp-action="Create">
    <div class="mb-3">
        <label asp-for="@Model.Name"></label>
        <input asp-for="@Model.Name" class="form-control" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="@Model.Rol"></label>
        <select asp-for="@Model.Rol" asp-items="Html.GetEnumSelectList<tl2_tp10_2023_EnzoPeralta96.Models.Usuario.RolUsuario>()"
            class="form-control"></select>
        <span asp-validation-for="@Model.Rol" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="@Model.Password"></label>
        <input asp-for="@Model.Password" class="form-control" />
        <span asp-validation-for="@Model.Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
    <a asp-controller="Usuario" asp-action="Index">
        <button type="button" class="btn btn-danger">
            Cancelar
        </button>
    </a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
